body{
  font-family: Azonix;
  color: white;
  background: #1A1A1A;
}

#browseAll {
  display: none;
}

.circle {
  max-width: 30%;
  padding: 2% 2% 2% 2%;
  border-radius: 50%;
}

#mainAlbums {
  display: block;
}

#mainArtists {
  display: none;
  float: left;
  width: 80%;
  position: relative;
  padding-left: 5%;
}

#mainSearch{
  display: none;
  float: left;
  width: 98%;
  position: relative;
  padding-left: 5%;
  cursor: pointer; /* Cursor on hover */
}

.mainPages{
  margin-left: 30%;
  width: 70%;
  transition: margin-left .5s;
  padding-top: 5%;
  z-index: 1;
}
#mainPlaylists {
  display: none;
}

.navigation-bar{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding-bottom: 1%;
  margin-top: -4px;
  height: 20%;
  background-color:rgba(107, 107, 107, 0.171);
  overflow: hidden;
  cursor: pointer; /* Cursor on hover */
}

#search , .searchText{
  width: 90%;
  cursor: pointer; /* Cursor on hover */
}

#currentCue{
  display: none;
}

.resultsTable{
  text-align: left;
  width: 100%;
  padding: 5%;
  letter-spacing: 3px;
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: 200;
}

#showAlbum{
  display: none;
}

.square{
  opacity: 0.8;
  max-width: 30%;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: none;
  cursor: pointer; /* Cursor on hover */
}

.square:hover{
  opacity: 1;
  max-width: 30%;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: none;
}

#tableCont{
  color: inherit;
  width: 100%;
  text-align: left;
}

.libraryRow {
  opacity: 0.65;
}

.libraryRow:hover {
  opacity: 1;
}


.closebtn, .searchText{
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: 200;

}

td{
  padding-top: 4%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logo-button{
  padding-top: 1%;
  padding-left: 1%;
  max-width: 5%;
  border:none;
  float: left;
  background-color: Transparent;

}

.apolloBrand{
  height: 10%;
  color: white;
  letter-spacing: 3px;
  float: left;
  padding-top: 2%;
  padding-left: 2%;
}

.searchButton{
  padding-top: 2.9%;
  padding-right: 5%;
  float: right;
  background-color: transparent;

}
.songSearch{
  padding-top: 2.5%;
  padding-right: 1%;
  float: right;
  background-color: transparent;
}
.albums{
  padding-top: 2.5%;
  padding-right: 5%;
  float: right;
  background-color: transparent;
}
.playlist{
  float: right;
  padding-right: 5%;
  padding-top: 2.5%;
  background-color: transparent;
}

.artists{
  float: right;
  padding-right: 5%;
  padding-top: 2.5%;
  background-color: transparent;
}

.currentlyPlaying{
  float: left;
  width: 380px;
  height: 100%;
  margin-top: -200px;
  margin-bottom: 0px;
  padding-top: 15%;
  padding-bottom: 50%;
  position: static;
}

.playerAlbumArt{
  box-shadow: 15px 15px 10px rgba(26, 26, 26, 0.76);
  margin-left: 10%;
  max-width: 90%;
}

.currentArtist{
  padding-left: 10%;
  padding-top: 1%;
  font-size: 12px;
  font-family: "Azonix";
  font-weight: 200;
  padding-bottom: 5%;
  cursor: pointer; /* Cursor on hover */
}

#returnCurrentArtist {
  opacity: 0.5;
}

#returnCurrentArtist:hover {
  opacity: 1;
  text-decoration: underline;
}

.currentSong{
  padding-left: 10%;
  padding-top: 5%;
  font-size: 15px;
  font-family: "Azonix";
  font-weight: 200;
}

.volumeBar{
  padding-top: 5%;
  width: 100%;
  padding-left: 10%;
}

.playbackControls{
  color: white;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.backButton {
  opacity: 0.6;
  padding-left: 10%;
  padding-top: .5%;
  cursor: pointer; /* Cursor on hover */
}

.backButton:hover {
  opacity: 1;
  padding-left: 10%;
  padding-top: .5%;
  cursor: pointer; /* Cursor on hover */
}

.playButton{
  opacity: 0.6;
  margin-left: 25%;
  margin-right: 25%;
  cursor: pointer; /* Cursor on hover */
}

.playButton:hover{
  opacity: 1;
  margin-left: 25%;
  margin-right: 25%;
  cursor: pointer; /* Cursor on hover */
}

.ffButton{
  opacity: 0.6;
  padding-right: 10%;
  padding-top: .5%;
  cursor: pointer; /* Cursor on hover */
}

.ffButton:hover{
  opacity: 1;
  padding-right: 10%;
  padding-top: .5%;
  cursor: pointer; /* Cursor on hover */
}

.Shuffle{
  opacity: 0.6;
  cursor: pointer; /* Cursor on hover */
}

.Shuffle:hover{
  opacity: 1;
  cursor: pointer; /* Cursor on hover */
}

.Repeat{
  opacity: 0.6;
  cursor: pointer; /* Cursor on hover */
}

.Repeat:hover{
  opacity: 1;
  cursor: pointer; /* Cursor on hover */
}

.albumArt{
  opacity: 1;
  max-width: 30%;
  float: left;
  padding-top: 0%;
  cursor: pointer; /* Cursor on hover */
}

.albumArt:hover{
  opacity: 0.8;
  max-width: 30%;
  float: left;
  padding-top: 0%;
  cursor: pointer; /* Cursor on hover */
}

.exit{
  float: left;
}

.selectedAlbum{
  float: right;
  text-align: left;
  width: 50%;
  padding: 5%;
  text-align: left;
  letter-spacing: 3px;
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: 200;
}

.duration{
  float: right;
}

.artistDisplay{
  text-align: left;
  width: 100%;
  padding: 5%;
  letter-spacing: 3px;
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: 200;
}

.pause
{
  display: none;
  margin-left: 25%;
  margin-right: 25%;
}

#currentCue{
  float: center;
  width: 60%;
  position: fixed;
  background-color:#1A1A1A;

}

#exit
{
  
  float: left;
  font-size: 120%;
  color: white;
  background: transparent;
  border: transparent;
  opacity: 0.6;
}

#exit:hover
{
  opacity: 1;
}

#Qart
{
  width: 50%;
  height: 50%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}

#header
{
  float: left;

}

#Q
{
  float: left;
  list-style-type: none;
  font-size: medium;
  font-family: Helvetics Neau;
  font-size: 20px;

}

#rewind
{
  display: inline;
}

#rewindSong
{
  display: none;
  color: #f7931E;
}

#progBarBG {
  cursor: pointer; /* Cursor on hover */
}
#progBar {
  cursor: pointer; /* Cursor on hover */
}

.slidecontainer {
  width: 65%; /* Width of the outside container */
  padding-top: 20px;
  margin: auto;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #1a1a1a; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  cursor: pointer; /* Cursor on hover */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  cursor: pointer; /* Cursor on hover */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 7px; /* Set a specific slider handle width */
  height: 7px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 7px; /* Set a specific slider handle width */
  height: 7px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
